{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/css/comment.css' %}">
{% endblock %}
{% block title %} جزئیات محصول {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>{{ product.name }}</h1>
                <h4>rate: {{ product.average }}</h4><br>
                <img src="{{ product.image.url }}" alt=""><br>
                <p>{{ product.information|safe }}</p>
            </div>

            {% for img in images %}
                <img src="{{ img.image.url }}" alt="">
            {% endfor %}

            <div class="col-2 mt-3">
                <div class="row">
                    <h4>like: {{ product.total_like }} </h4>
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'home:product_like' product.id %}"
                           class="btn btn-info {% if is_unlike %} disabled {% endif %}">Like</a><br><br>
                        <small> unlike: {{ product.total_unlike }}</small>
                        <a href="{% url 'home:product_unlike' product.id %}"
                           class="btn btn-danger {% if is_like %} disabled {% endif %}">disLike</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        <br>
        {% if product.status == 'Size' %}    ------
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variant.id == data.id %} checked {% endif %}
                           name="select" onchange="this.from.submit();">
                    <a href="" style="text-decoration: none">{{ data.size_variant }}</a>
                {% endfor %}
            </form><br>
        {% elif product.status == 'Color' %}
            <form action="" method="post">
                {% csrf_token %}
                {% for data in variant %}
                    <input type="radio" value="{{ data.id }}" {% if variant.id == data.id %} checked {% endif %}
                           name="select" onchange="this.from.submit();">
                    <a href="" style="text-decoration: none"> {{ data.color_variant }} </a>
                {% endfor %}
            </form><br>
        {% endif %}
        <br>
        <div class="card bg-primary m-2">
            <h6>your choice size:{{ variants.size_variant  price:{{ variants.total_price }} </h6>
        </div><br>
        <div class="card">
            <form method="post" action="">
                {% csrf_token %}
                {{ cart_form }}
                <button type="submit">Add</button>
            </form>
        </div>
        <hr>
        <div class="row comment">
            <div class="col-6">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'home:product_comment' product.id %}">
                        {% csrf_token %}
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="comment-box">
                                        <h5>Add Comment</h5>
                                        <div class="rating">
                                            <input type="radio" name="rate" value="5" id="5"><label
                                                for="5">&star;</label>
                                            <input type="radio" name="rate" value="5" id="4"><label
                                                for="4">&star;</label>
                                            <input type="radio" name="rate" value="5" id="3"><label
                                                for="3">&star;</label>
                                            <input type="radio" name="rate" value="5" id="2"><label
                                                for="2">&star;</label>
                                            <input type="radio" name="rate" value="5" id="1"><label
                                                for="1">&star;</label>
                                    </div>
                                    <div class="comment-area">
                                        <textarea name="comment" class="form-control" placeholder="say your comment..."
                                                  id="comment" rows="4" required oninvalid="setCustomValidity('نظر خودرا درج کنید')"></textarea>
                                    </div>
                                    <br>
                                    <div class="text-left">
                                        <button type="submit" class="btn btn-danger m-2">Send Comment</button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for cm in comment %}
            <div class="card bg-dark text-white mb-2">
                <div class="row">
                    <div class="col-8">
                        <h5>{{ cm.user.first_name }} {{ cm.user.last_name }}</h5>
                    </div>
                    <div class="col-4">
                        <div class="comment-rating">
                            <i class="fa fa-star{% if cm.rate < 1 %}-o empty {% endif %}"></i>
                            <i class="fa fa-star{% if cm.rate < 2 %}-o empty {% endif %}"></i>
                            <i class="fa fa-star{% if cm.rate < 3 %}-o empty {% endif %}"></i>
                            <i class="fa fa-star{% if cm.rate < 4 %}-o empty {% endif %}"></i>
                            <i class="fa fa-star{% if cm.rate < 5 %}-o empty {% endif %}"></i>
                        </div>
                    </div>
                </div>
                <div class="row pl-3">
                    <p>{{ cm.comment }}</p>
                </div>
                <form method="post" action="{% url 'home:product_reply' product.id cm.id %}">
                    {% csrf_token %}
                    <textarea name="comment" placeholder="reply" class="form-control" rows="4" id="cm"></textarea>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-info">Send</button>
                    </div>
                </form>
                {% for data in cm.comment_reply.all %}
                    <div class="bg-info text-white mt-2 p-2">
                        <p>{{ data.comment }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <br><br>











        {% for tag in similar %}
            <a href="{% url 'home:detail' tag.id %}">
                <img src="{{ tag.image.url }}">
            </a>
        {% endfor %}
    </div>


{% endblock %}
