{% extends 'base.html' %}
{% block title %}
صفحه محصولات
{% endblock %}
{% block body %}
<h1>ALL PRODUCT</h1>
    <div class="container">
        <hr>
        <form action="{% url 'home:products' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Search</button>
        </form><br><br>
        {% for data in category %}
            <a href="{{ data.get_absolute_url }}">{{ data.name }}</a>
            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                </button>
                <div class="dropdown-menu">
                    {% for info in data.sub.all %}
                        <a class="dropdown-item" href="{{ info.get_absolute_url }}">{{ info.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            {% for product in products %}
            <div class="col-3">
                <h3>{{ product.name }}</h3>
                <a href="{% url 'home:detail' product.id %}">
                    <img  src="{{ product.image.url }}" style="height: 200px; width: 200px" alt="">
                </a>
                {% if product.discount %}
                    <h4>{{ product.unit_price }}</h4>
                    <h3>{{ product.total_price }}</h3>
                {% else %}
                    <h3>{{ product.total_price }}</h3>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}